
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Hiroki Takeda</title>
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<header>
  <h1>Hiroki Takeda</h1>
  <div id="nav-icon">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <nav id="nav-menu">
    <ul>
      <li><a href="/index.html">Home</a></li>
      <li><a href="/cv.html">CV</a></li>
      <li><a href="/research.html">Research</a></li>
      <li><a href="/publications.html">Publications</a></li>
      <li><a href="/presentations.html">Presentations</a></li>
      <li><a href="/activities.html">Activities</a></li>
    </ul>
  </nav>
</header>
 
<main>
  $body$
</main>
 
<footer>
  <p>© Hiroki Takeda All rights reserved.</p>
</footer>

</body>
</html>
